<div id="subscriptions">
	<% if(status.code != 200) {%>
		<h3>Error <%= status.code %> - <%= status.message %> </h3>
		<p> <%= meta.error_type %> - <%= meta.error_message %> </p>
	<% } %>
	<form id="form" method="POST">
		<select name="object" class="form-object" required>
			<option value="tag">Tag</option>
			<option value="location">Location</option>
			<option value="geography">Geography</option>
		</select>
		<br />
		<input type="text" name="object_id" placeholder="object id. eg: hashtag, uid, etc" required><br />
		<div class="geography-group">
			<hr>
			<input class="geography-value" id="lat" type="text" name="lat" placeholder="latitude" ><br />
			<input class="geography-value" id="lng" type="text" name="lng" placeholder="longitude" ><br />
			<input class="geography-value" type="text" name="radius" placeholder="radius"  ><br />
			
			<hr>
		</div>
		<input type="submit">
	</form>

	<table>
		<th>Object</th><th>Objeto Id</th><th>Aspect</th><th>Callback Url</th><th>Type</th><th>Id</th><th>Options</th>
		<% for(var i in subscriptions) {%>
		   <tr>
		   		<td><%= subscriptions[i].object %></td>
		   		<td>#<%= subscriptions[i].object_id %></td>
		   		<td><%= subscriptions[i].aspect %></td>
		   		<td><%= subscriptions[i].callback_url %></td>
		   		<td><%= subscriptions[i].type %></td>
		   		<td><%= subscriptions[i].id %></td>
		   		<td>
		   		<a class="delete-subscription" href="#" data-subscription-id="<%= subscriptions[i].id %>">Delete</a>
		   		</td>
		   </tr>
		<% } %>
	</table>
</div>
<div id="map-canvas"></div>
<script type="text/javascript"> 
  $('.delete-subscription').click(function(){
  		alert($(this).data('subscription-id'));
  });

  $('#form').submit(function(){
  	console.log($(this).serialize());
  	return false;
  });

  $('.form-object').change(function(){
  	return;

  	if($(".form-object option:selected" ).val() == 'geography'){
  		$('.geography-group').show();
  	}else{
  		$('.geography-group').hide();
  		$('.geography-value').val('');
  	}

  });

</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG5nl0KVUWrI-XKX2e9C3Fh1Df126OgiA"></script>
<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        console.log(mapOptions);
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var marker = new google.maps.Marker({
		    position: map.getCenter(),
		    map: map
		  });

        google.maps.event.addListener(map, 'click', function(e) {
    		$("#lat").val(e.latLng.A);
    		$("#lng").val(e.latLng.F);
    		marker.setCenter(e.latLng);
  		});

      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
